@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: hsl(212, 45%, 89%);
	font-size: 15px;
	font-family: 'Outfit', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
img {
	width: 100%;
	border-radius: 0.5rem;
	max-width: 19rem;
	max-height: 19rem;
	margin-bottom: 1rem;
}
.card {
	background: hsl(0, 0%, 100%);
	border-radius: 1rem;
	max-width: 17rem;
	padding: 1rem;
	margin-bottom: 3rem;
	box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}
h1 {
	font-size: 1.16rem;
	text-align: center;
	margin-bottom: 0.8rem;
	color: hsl(218, 44%, 22%);
	font-weight: 700;
}
p {
	font-size: 0.8rem;
	text-align: center;
	margin-bottom: 1rem;
	color: hsl(220, 15%, 55%);
	font-weight: 400;
	padding: 0 1rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }